<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(cartProducts.length>0){ %>
                <ul>
                    <% cartProducts.forEach(cartProduct => { %>
                        <li><%= cartProduct.product.title %>(<%= cartProduct.qty %>)</li>
                        <form action="/remove-from-cart" method="post">
                            <input type="hidden" name="productId" value="<%= cartProduct.product.id %>">
                            <input type="hidden" name="price" value="<%= cartProduct.product.price %>">
                            <input class="btn "type="submit" value="Remove">
                        </form>
                    <% }) %>
                </ul>
            <% } else{ %>
                <h1>No Product in Cart!</h1>
                <%= cartProducts %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>