<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <!-- [...{product:product,qty:4}] -->
        <%if(cartProductDetails.length>0){%>
            <% cartProductDetails.forEach(productWithQty => {%>
                <li><%= productWithQty.product.title%>(<%= productWithQty.qty%>)</li>
                <form action="/remove-from-cart" method="post">
                    <input type="hidden" name="productId" value="<%= productWithQty.product.id%>">
                    <input type="hidden" name="price" value="<%= productWithQty.product.price%>">
                    <input class="btn" type="submit" value="remove">
                </form>
            <% })%>
        <%}else{%>
            <h1>Cart is empty!</h1>
        <%}%>
        <%- include('../includes/end.ejs') %>