<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(productList.length <= 0) { %>
        <h1>No Product Found</h1> 
    <% } else { %>
        <% productList.forEach(product => { %>
            <ul>
                <li>Title: <%= product.title %></li>
                <li>Price: <%= product.price %></li>
                <img src="<%= product.imgUrl %>" alt= <%=product.title %>>
                <li>Detail: <%= product.detail %></li>
            </ul>
        <% }) %>
    <% } %>
</body>
</html>